<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Today Status of Inspect </h1>
        </div>
        <table id="TodayInspectStatus" class="table table-striped">
            <thead>
            <tr>
                <th width="50%">url</th>
                <th width="20%">success count</th>
                <th width="20%">fail count</th>
                <th>last resp status</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="s : ${status}">
                <td>[[${s.inspectUrl}]]</td>
                <td>[[${s.successCount}]]</td>
                <td>[[${s.failCount}]]</td>
                <td>[[${s.lastRespStatus}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>