<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>URL检测(今日资料统计)</h1>
        </div>
        <table id="statusTable" class="table table-striped">
            <thead>
            <tr>
                <th width="50%" onclick="w3.sortHTML('#statusTable', '.item', 'td:nth-child(3)')">URL</th>
                <th width="15%">成功累计</th>
                <th width="15%">失败累计</th>
                <th>最后回应状态</th>
            </tr>
            </thead>
            <tbody>
            <tr class="item" data-th-each="s : ${status}">
                <td>[[${s.inspectUrl}]]</td>
                <td>[[${s.successCount}]]</td>
                <td>[[${s.failCount}]]</td>
                <td>[[${s.lastRespStatus}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>